/Library
/Backups
/version1_BackUpThisFolder_ButDontShipItWithYourGame
/Temp
/Logs
/UserSettings
/build
/JuegoPistasVR_BurstDebugInformation_DoNotShip
/temp_pdf_images

*.csproj
*.slnx

unity_batch_*.log
crimevr_*.log
enhance_scene_log.txt
stage_scene_log.txt

temp_enum.exe

version1.apk

Assets/Models/Environment/ExpoMap/Texturas/ladrillos/Piedritas/PavingStones084_4K-PNG_*.png
Assets/Models/Environment/ExpoMap/Texturas/Asfalto/worn_asphalt_4k.blend.zip
Assets/Models/Environment/ExpoMap/Texturas/Asfalto/asphalt_02_4k.blend.zip